<h1>Search for the latest stock price of a ticker</h1>

<!-- redirect to results page after getting input -->
<form action="/results" method="GET">
	<input type="text" name="search" placeholder="Search ticker">
	<input type="submit" name="">
</form>